.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title {
    margin: 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px; /* Surely there is a better way. But I am lazy and this is the only thing i came up */
}
